<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户门店')"/>
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            售达方编码：<input type="text" name="code"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>

    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "hybris/customerStore";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "客户门店查询",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'customerCode',
                    title: '客户编码',
                    // visible: true
                },
                {
                    field: 'streetCode',
                    title: '送达方编码',
                    sortable: true
                },
                {
                    field: 'streetCodeLabel',
                    title: '送达方名称',
                },
                {
                    field: 'storeFlagLabel',
                    title: '门店标识',
                },
                {
                    field: 'deleteFlag',
                    title: '是否冻结',
                    sortable: true
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>