<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品信息模糊查询')"/>
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            产品编码：<input type="text" name="code"/>
                        </li>
                        <li>
                            产品名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>

    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "hybris/product";
    $(function () {
        var options = {
            url: prefix + "/list",
            modalName: "产品信息模糊查询",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'productCode',
                    title: '产品编码',
                    visible: true
                },
                {
                    field: 'productName',
                    title: '产品名称',
                    sortable: true
                },
                {
                    field: 'productGroup',
                    title: '产品组',
                },
                {
                    field: 'productBrand',
                    title: '品牌',
                },
                {
                    field: 'productUnit',
                    title: '单位',
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>